# Read the documentation: https://github.com/FriendsOfSymfony/FOSElasticaBundle/blob/master/doc/setup.md
fos_elastica:
    serializer: ~
    clients:
      default:
        hosts: [ '%env(resolve:ELASTICSEARCH_DSN)%' ]
        client_config:
          ssl_verify: false

    indexes:
      user:
        persistence:
          driver: orm
          model: App\Domain\Entity\User
          listener:
            insert: true
            update: true
            delete: true
          elastica_to_model_transformer:
            query_builder_method: createIsActiveQueryBuilder
#            ignore_missing: true
        serializer:
          groups: [ elastica ]
#        properties:
#          login: ~
#          age: ~
#          phone: ~
#          email: ~
      tweet:
        persistence:
          driver: orm
          model: App\Domain\Entity\Tweet
        serializer:
          groups: [ elastica ]
#        properties:
#          author:
#            type: nested
#            properties:
#              name:
#                property_path: login
#              age: ~
#              phone: ~
#              email: ~
#          text: ~
